{% extends "_layout/layout.html" %}


{# 填写页面 title #}
{% block title %}钱途互联{% endblock %}

{% block keywords %}供应链融资，供应链企业融资，产业供应链融资，核心企业融资，融资方案，应收账款融资，新型保险融资，票据融资，信用融资，仓单融资{% endblock %}
{% block description %}聚焦产业供应链，通过互联网化的创新金融产品渗透到泛供应链金融领域，围绕核心企业及其上下游提供全面的供应链企业融资支持。{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 加载页面内容 #}
{% block content %}
    <div class="supply-wrap">
        <div class="mod-banner supply-banner">
            <div class="w1000">
                <h1>供应链融资 <span>Supply Chain Financing</span></h1>
                <div class="info">
                   <p>聚焦产业供应链，通过互联网化的创新金融产品渗透到泛供应链金融领域，围绕核心企业及其上下游提供全面的供应链企业融资支持。</p>
                    <p>钱途互联运用互联网方式，通过对接CFCA、人脸识别、账户认证、大数据征信等风控策略为客户提供安全可靠、快速便捷的互联网融资服务。同时以客户为中心，助力于产业互联网升级，为供应链企业提供最佳的针对性融资方案，帮助企业适应市场浪潮，解决资金运作需求，赢得第一商机。</p>
                </div>
            </div>
        </div>
        <div class="mod-info-list">
            <div class="w1000 overflow">
                <ul class="info-list clearfix">
                    <li>
                        <div class="pic"><img src="{{static}}/images/supply-info-1.jpg"> </div>
                        <div class="text">
                            <h5 class="fn-mb-5"> <strong>应收账款</strong></h5>
                            <p>在线办理，高效快捷</p>
                        </div>
                    </li>
                    <li>
                        <div class="pic"><img src="{{static}}/images/supply-info-2.jpg"> </div>
                        <div class="text">
                            <h5 class="fn-mb-5"> <strong>新型保险融资</strong></h5>
                            <p>灵活分期，资金更自由</p>
                        </div>
                    </li>
                    <li class="last-li">
                        <div class="pic"><img src="{{static}}/images/supply-info-3.jpg"> </div>
                        <div class="text">
                            <h5 class="fn-mb-5"> <strong>票据融资</strong></h5>
                            <p>在线办理，高效快捷</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 产品优势-->
        <div class="mod-advantage w1000">
            <h2>钱途互联融资产品4大优势</h2>
            <ul class="advantage-list">
                <li>
                    <h4>1、全程在线认证，摆脱繁琐线下流程</h4>
                    <p>通过人脸识别、CFCA证书、账户认证等安全高效方式线上核身办理</p>
                </li>
                <li>
                    <h4>2、迅速放款，资金运作有保障</h4>
                    <p>对接银行渠道，审批时间短，最快1天放款</p>
                </li>
                <li>
                    <h4>3、还款无忧，方式灵活</h4>
                    <p>多种还款及分期方式，自由组合 </p>
                </li>
                <li>
                    <h4>4、专业团队，值得信赖</h4>
                    <p>银行级风控体系，专业团队全程支撑</p>
                </li>
            </ul>
        </div>
        <!-- 成功案例-->
        <div class="w1000 success-case">
            <h2>成功案例</h2>
            <ul class="case-list clearfix">
                <li><a href="###"><img src="{{static}}/images/success-case/wanke.jpg"></a></li>
                <li><a href="###"><img src="{{static}}/images/success-case/picc.jpg"></a></li>
                <li><a href="###"><img src="{{static}}/images/success-case/ab.jpg"></a></li>
                <li><a href="###"><img src="{{static}}/images/success-case/sdhs.jpg"></a></li>
            </ul>
        </div>
    </div>
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script>
</script>
{% endblock %}