{% extends "_layout/layout.html" %}


{# 填写页面 title #}
{% block title %}钱途互联{% endblock %}

{% block keywords %}债权支付，电子登记系统服务，交易担保，收付结算，活期资金增值，信用消费，投资平台信用支付，电商预付费支付，垂直电商平台支付，交易平台担保支付，企业自动划扣支付，线下商户会员预付费支付，集团供应链跨行支付结算{% endblock %}
{% block description %}钱途互联通过电子登记系统服务重点推出面向企业和个人的债权支付业务方案。{% endblock %}



{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 加载页面内容 #}
{% block content %}
<div class="debt-wrap">
    <div class="mod-banner debt-banner">
        <div class="w1000">
            <h1>债权支付 <span>Debt Payment</span></h1>
            <div class="info">
                <p>互联网+时代，随着国家金融体制及支付制度的完善、企业支付场景的日趋丰富，传统的银行网银及第三方支付，也都出现了巨大的支付局限性。钱途互联深刻理解支付结算之痛点，突破局限性，通过电子登记系统服务重点推出面向企业和个人的债权支付业务方案。</p>
                <ul>
                    <li>
                        针对企业，就其支付结算的痛点，在跨行划转、担保交易、供应链划扣以及账期资金增值等方面，形成了方便、安全、更低成本的各类解决方案，并成功进行了规模性推广应用。
                    </li>
                    <li>针对个人，可在钱途提供的精选商城及合作的各类商家渠道消费，通过投资授信，享受涵盖衣食住行等高品质的产品及服务。</li>
                </ul>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
    <div class="mod-info-list">
        <div class="w1000 overflow">
            <ul class="info-list clearfix info-4">
                <li>
                    <div class="pic"><img src="{{static}}/images/debt-info-1.jpg"> </div>
                    <div class="text">
                        <h5 class="fn-mb-5"> <strong>交易担保</strong></h5>
                        <p>保障买卖双方资金安全<br>和权益</p>
                    </div>
                </li>
                <li>
                    <div class="pic"><img src="{{static}}/images/debt-info-2.jpg"> </div>
                    <div class="text">
                        <h5 class="fn-mb-5"> <strong>收付结算</strong></h5>
                        <p>通过债权转移实现跨行跨<br>地域的收付结算服务</p>
                    </div>
                </li>
                <li>
                    <div class="pic"><img src="{{static}}/images/debt-info-3.jpg"> </div>
                    <div class="text">
                        <h5 class="fn-mb-5"> <strong>活期资金增值</strong></h5>
                        <p>债权份额随存随取，享<br/>智能增值服务</p>
                    </div>
                </li>
                <li class="last-li">
                    <div class="pic"><img src="{{static}}/images/debt-info-4.jpg"> </div>
                    <div class="text">
                        <h5 class="fn-mb-5"> <strong>信用消费</strong></h5>
                        <p>投资份额可提前消费，更<br>享优惠！</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 产品优势-->
    <div class="mod-advantage w1000">
        <h2>钱途互联债权支付5大优势</h2>
        <ul class="advantage-list">
            <li>
                <h4>1、交易凭证，有依有据</h4>
                <p>提供交易流水银行凭证打印服务，企业可作为账户收支依据</p>
            </li>
            <li>
                <h4>2、安全免费，全程无忧</h4>
                <p>跨行零手续费，银行级安全保障</p>
            </li>
            <li>
                <h4>3、应用丰富，接入灵活</h4>
                <p>根据客户业务场景提供最佳应用方案，快速对接上线 </p>
            </li>
            <li>
                <h4>4、增值设定，给您更多</h4>
                <p>电子登记份额即享财富增值，收益远超货币基金</p>
            </li>
            <li>
                <h4>5、创新支付，尊享特权</h4>
                <p>智能债权支付方案，轻松享有众多商家优惠特权</p>
            </li>
        </ul>
    </div>
    <!-- 成功案例-->
    <div class="w1000 success-case">
        <h2>成功案例</h2>
        <ul class="case-list clearfix">
            <li><a href="###"><img src="{{static}}/images/success-case/jiuzhoutong.jpg"></a></li>
            <li><a href="###"><img src="{{static}}/images/success-case/yunsheng.jpg"></a></li>
            <li><a href="###"><img src="{{static}}/images/success-case/qianduan.jpg"></a></li>
            <li><a href="###"><img src="{{static}}/images/success-case/dayima.jpg"></a></li>
            <li class="last-li"><a href="###"><img src="{{static}}/images/success-case/zhonghuida.jpg"></a></li>
            <li><a href="###"><img src="{{static}}/images/success-case/putian.jpg"></a></li>
            <li><a href="###"><img src="{{static}}/images/success-case/yihoutai.jpg"></a></li>
        </ul>
    </div>
</div>
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script>
</script>
{% endblock %}