<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit">
    <meta name="copyright" content="本页版权归www.frontpay.cn所有·All Rights Reserved" />
    <meta name="description" content="钱途互联是国内首家专注于通过互联模式，基于企业交易过程的电子登记系统，对接优质的金融资源，为中小企业提供增值、新型供应链融资及创新支付结算的产业互联网金融服务商。" />
    <meta name="keywords" content="钱途互联，钱沿支付，钱途，QIANTUHULIAN，frontpay，E+账户，第三方支付，债权支付，供应链融资，互联网金融，金融服务，创新支付，互联网融资，信用支付，信用消费，商务金融" />
    <meta name="Robots" content="all" />


    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <title>

        钱途互联
    </title>



    <link href="/static/images/favicon.ico" rel="icon" type="image/x-icon" />




    <link rel="stylesheet" href="/static/css/main.css?v=1.0.0">







    <!--[if IE 8]>
    <link rel="stylesheet" href="/static/css/ie-8.css?v=1.0.0">
    <![endif]-->


    <!--[if lt IE 8]>
    <link rel="stylesheet" href="/static/css/ie-76.css?v=1.0.0">
    <![endif]-->


    <!--[if lte IE 7]>
    <link rel="stylesheet" href="/static/iconfont-ie7/ie7.css?v=1.0.0">
    <script src="/static/iconfont-ie7/ie7.js?v=1.0.0"></script>
    <![endif]-->


    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.min.js?v=1.0.0"></script>
    <script src="/static/js/respond.min.js?v=1.0.0"></script>
    <script src="/bower_components/es5-shim/es5-shim.min.js?v=1.0.0"></script>
    <![endif]-->



    <style>
    </style>


</head>


<body
        class="index-body"
>



<div class="main">

    <nav class="nav-wrap">
        <div class="nav-main">
            <div class="nav-body">

                <div class="frontpay-logo-box">
                    <a href="首页.html">
                        <img src="/static/images/nav-logo.png" alt="钱途互联" />
                    </a>
                </div>
                <div class="nav-right">
                    <div class="clearfix">
                        <ul class="oplist_one">
                            <li>
                                <i class="icon-uniE912"></i> <b>400-106-6698</b>
                            </li>
                            <li class="line">|</li>
                            <li class="hover">
                                <i class="icon-people"  style="font-size: 16px; top: 3px;"></i>
                                <a href="###">客户服务 <i class="caret"></i></a>
                                <div class="hover-link"><a href="###" class="j-feedback" data-target="#J_popup_fb">意见反馈</a></div>
                            </li>
                            <li class="line">|</li>
                            <li>
                                <i class="icon-phone" style="font-size: 16px; top: 4px;"></i>
                                <a href="###">APP下载</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix fn-mt-15">
                        <ul class="nav">
                            <li>
                                <a href="首页.html">首页
                                </a>
                            </li>
                            <li>
                                <a href="02供应链融资.html">供应链融资
                                </a>
                            </li>
                            <li>
                                <a href="03债权支付1.html">债权支付
                                </a>
                            </li>
                            <li>
                                <a href="solution.html">行业方案
                                </a>
                            </li>
                            <li>
                                <a href="关于钱途.html">关于钱途
                                </a>
                            </li>
                        </ul>
                        <!--<div class="login-ctrl">
                            <a href="javascript:;" class="btn primary" data-target="#J_popup_lgoin" style="width: 100px;">登录</a>
                            <div class="divider"></div>
                            <a href="###" class="btn links" style="padding: 0;">注册</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </nav>




    <div class="index-wrap">
        <div class="video-box" id="video-box">
            <!--<video class="video" id="video" autoplay width="100%">
                <source type="video/mp4" src="/static/images/video.mp4">
                您的浏览器不支持Video标签，视频无法播放。建议使用最新的Chrome（谷歌）浏览器。
            </video>-->
        </div>
        <div class="index-bg3"></div>
        <div class="index-bg1"></div>
        <div class="index-bg2"></div>
        <div class="index-map" style="display: block">
            <div class="map-frame">
                <div class="map-line"></div>
                <div class="mapoint g1-1">
                    <div class="mapoint-img-frame">
                        <div class="mapoint-img-frame-bg"></div>
                        <div class="mapoint-img">
                            <img src="/static/images/index_smallpic/mapic1 (13).jpg"/>
                        </div>
                    </div>
                </div>
                <div class="mapoint g1-2">
                    <div class="mapoint-img-frame">
                        <div class="mapoint-img-frame-bg"></div>
                        <div class="mapoint-img">
                            <img src="/static/images/index_smallpic/mapic1 (9).jpg"/>
                        </div>
                    </div>
                </div>
                <div class="mapoint g1-3">
                    <div class="mapoint-img-frame">
                        <div class="mapoint-img-frame-bg"></div>
                        <div class="mapoint-img">
                            <img src="/static/images/index_smallpic/mapic1 (5).jpg"/>
                        </div>
                    </div>
                </div>
                <div class="mapoint g2-1">
                    <div class="mapoint-img-frame">
                        <div class="mapoint-img-frame-bg"></div>
                        <div class="mapoint-img">
                            <img src="/static/images/index_smallpic/mapic1 (12).jpg"/>
                        </div>
                    </div>
                </div>
                <div class="mapoint g2-2">
                    <div class="mapoint-img-frame">
                        <div class="mapoint-img-frame-bg"></div>
                        <div class="mapoint-img">
                            <img src="/static/images/index_smallpic/mapic1 (14).jpg"/>
                        </div>
                    </div>
                </div>
                <div class="mapoint g2-3">
                    <div class="mapoint-img-frame">
                        <div class="mapoint-img-frame-bg"></div>
                        <div class="mapoint-img">
                            <img src="/static/images/index_smallpic/mapic1 (11).jpg"/>
                        </div>
                    </div>
                </div>
                <div class="mapoint g3-1">
                    <div class="mapoint-img-frame">
                        <div class="mapoint-img-frame-bg"></div>
                        <div class="mapoint-img">
                            <img src="/static/images/index_smallpic/mapic1 (8).jpg"/>
                        </div>
                    </div>
                </div>
                <div class="mapoint g3-2">
                    <div class="mapoint-img-frame">
                        <div class="mapoint-img-frame-bg"></div>
                        <div class="mapoint-img">
                            <img src="/static/images/index_smallpic/mapic1 (2).jpg"/>
                        </div>
                    </div>
                </div>
                <div class="mapoint g3-3">
                    <div class="mapoint-img-frame">
                        <div class="mapoint-img-frame-bg"></div>
                        <div class="mapoint-img">
                            <img src="/static/images/index_smallpic/mapic1 (6).jpg"/>
                        </div>
                    </div>
                </div>
                <div class="mapoint g4-1">
                    <div class="mapoint-img-frame">
                        <div class="mapoint-img-frame-bg"></div>
                        <div class="mapoint-img">
                            <img src="/static/images/index_smallpic/mapic1 (15).jpg"/>
                        </div>
                    </div>
                </div>
                <div class="mapoint g4-2">
                    <div class="mapoint-img-frame">
                        <div class="mapoint-img-frame-bg"></div>
                        <div class="mapoint-img">
                            <img src="/static/images/index_smallpic/mapic1 (4).jpg"/>
                        </div>
                    </div>
                </div>
                <div class="mapoint g4-3">
                    <div class="mapoint-img-frame">
                        <div class="mapoint-img-frame-bg"></div>
                        <div class="mapoint-img">
                            <img src="/static/images/index_smallpic/mapic1 (10).jpg"/>
                        </div>
                    </div>
                </div>
                <div class="mapoint g5-1">
                    <div class="mapoint-img-frame">
                        <div class="mapoint-img-frame-bg"></div>
                        <div class="mapoint-img">
                            <img src="/static/images/index_smallpic/mapic1 (3).jpg"/>
                        </div>
                    </div>
                </div>
                <div class="mapoint g5-2">
                    <div class="mapoint-img-frame">
                        <div class="mapoint-img-frame-bg"></div>
                        <div class="mapoint-img">
                            <img src="/static/images/index_smallpic/mapic1 (1).jpg"/>
                        </div>
                    </div>
                </div>
                <div class="mapoint g5-3">
                    <div class="mapoint-img-frame">
                        <div class="mapoint-img-frame-bg"></div>
                        <div class="mapoint-img">
                            <img src="/static/images/index_smallpic/mapic1 (7).jpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="index-silder-wrap">
            <div class="banner-wrap">
                <div id="js_banner" class="banner">
                    <ul id="js_banner_img" class="banner_img clearfix">
                        <li class="bgli01">
                            <div class="bannerimgs one"></div>
                        </li>
                        <li class="bgli02">
                            <div class="bannerimgs two"></div>
                        </li>
                        <li class="bgli03">
                            <div class="bannerimgs three"></div>
                        </li>
                    </ul>
                    <div class="banner_common">
                        <a id="js_banner_pre" href="javascript:;" class="banner_pre"></a>
                        <a id="js_banner_next" href="javascript:;" class="banner_next"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="index-bottom">
            <a href="02供应链融资.html"></a>
            <a href="03债权支付1.html"></a>
        </div>
    </div>



    <footer class="footer">
        <div class="footer-main">
            <ul class="footer-nav-one">
                <li>
                    <h4>
                        关于钱途
                    </h4>
                    <a href="关于钱途.html">
                        钱途简介
                    </a>
                    <a href="企业动态.html">
                        企业动态
                    </a>
                    <a href="联系我们.html">
                        联系我们
                    </a>
                </li>
                <li>
                    <h4>
                        产品介绍
                    </h4>
                    <a href="02供应链融资.html">
                        供应链融资
                    </a>
                    <a href="03债权支付1.html">
                        债权支付
                    </a>
                    <a href="solution.html">
                        行业方案
                    </a>
                </li>
                <li>
                    <h4>
                        平台信息
                    </h4>
                    <a href="媒体报道.html">
                        媒体报道
                    </a>
                    <a href="javascript:;" class="j-feedback" data-target="#J_popup_fb">
                        意见反馈
                    </a>
                </li>
                <li>
                    <div class="phone-box">
                        <p>客服热线：9:00-18:00</p>
                        <h1>
                            400-106-6698
                        </h1>
                    </div>
                </li>
                <li class="last">
                    <div class="code-box">
                        <img src="/static/images/qrcodenew.jpg" alt=""/>
                    </div>
                    <p>
                        官方微信服务号
                    </p>
                </li>
            </ul>
            <div class="footer-nav-two">
                <div class="footer-case-wrap">
                    <ul>
                        <li>
                            <a href="加入我们.html">诚聘英才
                            </a>
                        </li>
                        <li>
                            <a href="关于钱途-合作伙伴.html">合作伙伴
                            </a>
                        </li>
                        <li>
                            <a href="法律声明.html">法律声明
                            </a>
                        </li>
                        <li>
                            <a href="隐私条款.html">隐私条款
                            </a>
                        </li>
                    </ul>
                    <p>
                        版权所有&copy;广东钱途互联商务服务有限公司&nbsp;&nbsp;&nbsp;&nbsp;粤ICP备&nbsp;14098252号-2
                    </p>
                    <a href="http://webscan.360.cn/index/checkwebsite/url/www.frontpay.cn">
                        <!--<img border="0" src="http://img.webscan.360.cn/status/pai/hash/2a1976734318f6fabb2f80a6011e79ae" />-->
                        <img src="/static/images/sub1.jpg?v=20150615"/>
                    </a>
                    <a href="javascript:void(0)" class="imglink">
                        <img src="/static/images/sub2.jpg?v=20150615"/>
                    </a>
                    <a href="http://www.gdca.gov.cn/index.asp">
                        <img src="/static/images/sub3.jpg?v=20150615" />
                    </a>
                </div>
            </div>
        </div>
    </footer>

</div>







<!--意见反馈弹层-->
<div class="popwin-bg feedback-pop" id="J_popup_fb">
    <div>
        <b></b>
        <div class="popwin-wrap feedback-wrap">
            <a href="javascript:void(0)" class="popwin-close j-feedback-close" data-popup="#J_popup_fb">&times;
            </a>
            <div class="popwin-content">
                <div class="popwin-head">意见反馈</div>
                <div class="popwin-bd">
                    <form action="#" class="feedback-frm">
                        <div class="feedback-frm-item">
                            <span class="ineed">*</span>
                            <input type="text" placeholder="请输入您的姓名" class="feedback-frm-input" />
                        </div>
                        <div class="feedback-frm-item">
                            <input type="text" placeholder="请输入您的手机号码" class="feedback-frm-input" />
                        </div>
                        <div class="feedback-frm-item">
                            <span class="ineed">*</span>
                            <input type="text" placeholder="请输入您的邮箱" class="feedback-frm-input" />
                        </div>
                        <div class="feedback-frm-item">
                            <span class="ineed">*</span>
                            <textarea class="feedback-frm-input feedback-frm-textarea"></textarea>
                        </div>
                        <div class="feedback-frm-item">
                            您还可以输入<em id="j-txt-limit">200</em>字
                        </div>
                        <div class="feedback-frm-item">
                            <button type="button" class="feedback-frm-btn feedback-frm-btn-primary">提交</button>
                            <button type="button" class="feedback-frm-btn fn-ml-20 j-feedback-close" data-popup="#J_popup_fb">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 登录注册弹窗 -->
<div class="popwin-bg feedback-pop" id="J_popup_lgoin">
    <div>
        <b></b>
        <div class="popwin-wrap sign-wrap">

            <!-- 关闭弹窗 -->
            <a href="###" class="popwin-close" id="signClose">
                <i class="icon-cross"></i>
            </a>

            <!-- 弹窗tab -->
            <ul class="sign-tab-wrap">
                <li class="active">
                    <a href="#stc1" data-toggle="tab">
                        个人用户
                    </a>
                </li>
                <li>
                    <a href="#stc2" data-toggle="tab">
                        商家用户
                    </a>
                </li>
            </ul>

            <!-- #stc1内容 -->
            <div class="tab-pane active" id="stc1">

                <!-- 个人注册页面 -->
                <div class="forms" id="pSignUp">
                    <p>
                        已有钱沿支付账号？
                    </p>
                    <a href="###" class="default-btn secondary" id="Show_pSignIn">
                        马上登录
                    </a>
                    <div class="sign-left">
                        <h1>
                            注册钱沿支付
                        </h1>
                        <form>
                            <fieldset>
                                <legend>signup form</legend>
                                <div class="form-ctrl-wrap signfrom">
                                    <div class="form-ctrl-box">
                                        <div class="fv-wrap" style="display: block;">
                                            手机号已注册！
                                            <span class="shadow"></span>
                                            <span></span>
                                        </div>
                                        <input class="form-ctrl" type="text" placeholder="请输入手机号码" name="phoneNumber"/>
                                    </div>
                                </div>
                                <div class="form-ctrl-wrap signfrom for-ic">
                                    <div class="form-ctrl-box">
                                        <div class="fv-wrap" style="display: block;">
                                            验证码错误验证码错误验证码错误验证码错误！
                                            <span class="shadow"></span>
                                            <span></span>
                                        </div>
                                        <input class="form-ctrl" type="text" placeholder="请输入验证码" name="vc"/>
                                    </div>
                                    <a href="###" class="default-btn tertiary">
                                        获取验证码
                                    </a>
                                </div>
                                <div class="form-ctrl-wrap" style="padding-bottom: 12px;">
                                    <label class="form-label">
                                        <input type="checkbox" checked="checked" name="agreement" id="J_sign_argeement" />
                                        我已阅读并同意《<a href="userServiceAgreement.html" target="_blank" class="label-link">钱沿支付用户服务协议</a>》
                                    </label>
                                </div>
                                <div class="form-ctrl-wrap">
                                    <div class="form-ctrl-box">
                                        <button type="submit" id="J_sign_submit" class="default-btn primary">
                                            立即开通
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

                <!-- 个人登录页面 -->
                <div class="forms" id="pSignIn" style="display: none;">
                    <p>
                        还没有钱沿支付账号？
                    </p>
                    <a href="###" class="default-btn secondary" id="Show_pSignUp">
                        马上注册
                    </a>
                    <div class="sign-left">
                        <h1>
                            登录钱沿支付
                        </h1>
                        <form>
                            <fieldset>
                                <legend>signin form</legend>
                                <div class="form-ctrl-wrap signfrom">
                                    <div class="form-ctrl-box">
                                        <div class="fv-wrap" style="display: block;">
                                            手机号错误！
                                            <span class="shadow"></span>
                                            <span></span>
                                        </div>
                                        <input class="form-ctrl" type="text" placeholder="手机号码" name="phoneNumber"/>
                                    </div>
                                </div>
                                <div class="form-ctrl-wrap signfrom" style="padding-bottom: 42px;">
                                    <div class="form-ctrl-box">
                                        <div class="fv-wrap" style="display: block;">
                                            密码错误！
                                            <span class="shadow"></span>
                                            <span></span>
                                        </div>
                                        <input class="form-ctrl" type="password" placeholder="登录密码" name="password"/>
                                    </div>
                                </div>
                                <div class="form-ctrl-wrap">
                                    <div class="form-ctrl-box">
                                        <button type="submit" class="default-btn primary">
                                            立即登录
                                        </button>
                                        <a href="###" class="default-btn link-btn">
                                            忘记密码？
                                        </a>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

            </div>

            <!-- #stc2内容 -->
            <div class="tab-pane" id="stc2">
                <b>
                    暂未开放商家登录&nbsp;&nbsp;/&nbsp;&nbsp;注册
                </b>
            </div>

        </div>
    </div>
</div>

<!--登录注册-->
<!--<div class="modal-background display-none" id="Login" role="dialog">
        <div class="modal-layer">
            <div class="modal-position">
                <div class="modal-wrap animated zoomInDown">
                    <div class="modal-head">
                        模态窗口
                        <i class="modal-close" title="关闭"></i>
                    </div>
                    <div class="modal-body">
                        <div style="height: 300px; text-align: center; line-height: 300px;">
                            模态窗口高度不限
                        </div>
                        <div class="text-align-right plural-btns fn-pt-30">
                            <a href="###" class="btn links">上一步</a>
                            <button type="button" class="btn default">取消</button>
                            <button type="button" class="btn primary">确认</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->




<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/common.js"></script>




<script src="/static/js/tab.js"></script>




<script>
    $(function () {
        var $window = $(window),
                window_width = $window.width();
        //$('#js_banner, #js_banner_img li').width(window_width);
        var startFrame = 1;

        new $.Tab({/*添加圆点按钮*/
            target: $('#js_banner_img li'),
            effect: 'slide3d',
            animateTime: 1000,
            stay: 3000,
            //playTo: startFrame,
            autoPlay: true,
            merge: true,
            prevBtn: $('#js_banner_pre'),
            nextBtn: $('#js_banner_next')
        });
        //$('#js_banner_img').css('left', '-' + (window_width * startFrame) + 'px');
        //
        var $footer = $('.footer'),
                $videoBox = $('#video-box'),
                ua = window.navigator.userAgent;

        if(/iphone|ipod|ios|android/gi.test(ua)) {
        } else {
            // FF13- 鼠标轮滑事件监听
            document.addEventListener('DOMMouseScroll', showFooter, false);
            window.onmousewheel = document.onmousewheel = showFooter;
            try {
                // 视频
                var objVideo = document.createElement('video');
                objVideo.setAttribute('width', '100%');
                objVideo.setAttribute('autoplay', 'auto');
                objVideo.innerHTML = '<source type="video/mp4" src="/static/images/video.mp4">您的浏览器不支持Video标签，视频无法播放。建议使用最新的Chrome（谷歌）浏览器。';

                $videoBox.append(objVideo);
                // 视频时长
                //var duration = objVideo.duration;
                objVideo.oncanplay = function() {
                    $('.index-map').hide();
                    $('.index-bg3').fadeOut();
                }

                objVideo.onended = function() {
                    $('.index-map').fadeIn(1000);
                }
                // 停止
                // objVideo.pause();
                // 播放
                // objVideo.play();
                // 是否到末尾
                // objVideo.ended;
                // 是否暂停
                // objVideo.paused
                // 结束
                // objVideo.onended = function() {}
                // http://www.w3school.com.cn/tags/html_ref_eventattributes.asp
                // http://www.w3school.com.cn/jsref/dom_obj_video.asp
            }catch(e) {
                $('.index-bg3').fadeOut();
                $('.index-map').fadeIn(1000);
            }

        }


        function showFooter(event) {
            var event = event || window.event;
            // animate 有 bug不去兼容 ie8
            //$footer.css({ bottom: (event.wheelDelta < 0 ? '0' : '-272px')});
            // FF
            if (event.type == 'DOMMouseScroll' || event.type == 'mousewheel') {
                event.wheelDelta = (event.wheelDelta) ? event.wheelDelta / 120 : -(event.detail || 0) / 3;
            }
            $footer[event.wheelDelta < 0 ? 'addClass' : 'removeClass']('active');
        }


    })
</script>



<div style="display: none">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?dc9a1f3ac867150f27a4aec62e0ec43b";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</div>
</body>
</html>

