{% extends "_layout/layout.html" %}


{# 填写页面 title #}
{% block title %}企业动态-钱途互联{% endblock %}
{% block keywords %}钱途互联，钱沿支付，E+账户，信用惠，产业金融，资产增值，资产结算{% endblock %}
{% block description %}钱途互联是国内首家专注于通过互联模式，基于企业交易过程的电子登记系统（品牌名称“E+账户”），对接优质的金融资源，为中小企业提供增值、新型供应链融资及创新支付结算的产业金融服务商。{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
	<style>
	</style>
{% endblock %}


{# 引用页面 body 类 #}
{% block bodyClass %}
class="page"
{% endblock %}

{% import "_components/about-us-nav.html" as pageNav %}

{# 加载页面内容 #}
{% block content %}
    <div class="page-wrap">
        <div class="page-banner">
            <div class="banner-news">
                <h2 class="display-none">企业动态</h2>
            </div>
        </div>

        {{ pageNav.news() }}

        <div class="page-main container">
            <div class="page-article clearfix">
                <section class="page-article-bd">
                    <h3 style="text-align: center" class="fn-pt-50">暂无动态</h3>
                </section>
            </div>
        </div>
    </div>

{% include "_components/footer.html" %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
	<script>
    </script>
{% endblock %}