{% extends "_layout/layout.html" %}


{# 填写页面 title #}
{% block title %}关于钱途{% endblock %}
{% block keywords %}钱途互联，钱沿支付，E+账户，信用惠，产业金融，资产增值，资产结算{% endblock %}
{% block description %}钱途互联是国内首家专注于通过互联模式，基于企业交易过程的电子登记系统（品牌名称“E+账户”），对接优质的金融资源，为中小企业提供增值、新型供应链融资及创新支付结算的产业金融服务商。{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
	<style>
	</style>
{% endblock %}


{# 引用页面 body 类 #}
{% block bodyClass %}
class="page"
{% endblock %}

{% import "_components/about-us-nav.html" as pageNav %}

{# 加载页面内容 #}
{% block content %}
    <div class="page-wrap">
        <div class="page-banner banner-about-us">
            <div class="banner-about-us">
             <h2 class="display-none">About Us</h2>
            </div>
        </div>

        {{ pageNav.render(3) }}

        <div class="page-main container">
            <article class="page-article clearfix">
                <div class="pull-right about-article-post poster">
                    <img src="{{ static }}/images/about/idg.jpg" alt="前途互联" >
                </div>
                <section class="page-article-bd page-single">
                    <h3 class="article-title">关于IDG</h3>
                    <p>钱途互联已获得全世界最大的信息技术出版、研究、发展与风险投资公司——美国国际数据集团（International Data Group, IDG）的投资。目前IDG已有70多家所投公司公开上市或并购，创造了约30万个就业机会。是中国最大的投资早期与成长期的风险投资基金。</p>

                    <p>2015年，IDG对钱途互联进行了天使轮投资，为钱途互联的成长和发展提供雄厚的资金援助。钱途互联将凭借IDG资本的战略指导及资源优势，创新奋进，立志成为产业金融第一品牌！</p>

                </section>
            </article>
        </div>
    </div>

{% include "_components/footer.html" %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
	<script>
    </script>
{% endblock %}