{% extends "_layout/layout.html" %}


{# 填写页面 title #}
{% block title %}关于钱途{% endblock %}
{% block keywords %}钱途互联，钱沿支付，E+账户，信用惠，产业金融，资产增值，资产结算{% endblock %}
{% block description %}钱途互联是国内首家专注于通过互联模式，基于企业交易过程的电子登记系统（品牌名称“E+账户”），对接优质的金融资源，为中小企业提供增值、新型供应链融资及创新支付结算的产业金融服务商。{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
	<style>
	</style>
{% endblock %}


{# 引用页面 body 类 #}
{% block bodyClass %}
class="page"
{% endblock %}

{% import "_components/about-us-nav.html" as pageNav %}

{# 加载页面内容 #}
{% block content %}
    <div class="page-wrap">
        <div class="page-banner">
            <div class="banner-join-us">  
                <h2 class="display-none">join Us</h2>
            </div>
        </div>

        <div class="page-main container">
            <div class="page-title">
                <span></span>
                <h2>诚聘英才</h2>
                <small>
                    Recruitment
                </small>   
            </div>
            <div class="job-wrap clearfix">
                <nav class="job-nav">
                    <ul>
                        <li class="active">
                            <a href="#position-1" data-toggle="tab">
                                <em></em>风控经理
                            </a>
                        </li>
                        <li>
                            <a href="#position-2" data-toggle="tab">
                                <em></em>财务经理
                            </a>
                        </li>
                        <li>
                            <a href="#position-3" data-toggle="tab">
                                <em></em>产品经理
                            </a>
                        </li>
                        <!--<li>
                            <a href="#position-5" data-toggle="tab">
                                <em></em>高级研发工程师
                            </a>
                        </li>-->
                        <li>
                            <a href="#position-6" data-toggle="tab">
                                <em></em>中级C#开发工程师
                            </a>
                        </li>
                        <li>
                            <a href="#position-4" data-toggle="tab">
                                <em></em>Java工程师
                            </a>
                        </li>
                        <li>
                            <a href="#position-7" data-toggle="tab">
                                <em></em>前端工程师
                            </a>
                        </li>
                        <!--<li>
                            <a href="#position-8" data-toggle="tab">
                                <em></em>网络工程师
                            </a>
                        </li>-->
                        <li>
                            <a href="#position-9" data-toggle="tab">
                                <em></em>策划推广专员
                            </a>
                        </li>
                        <!--<li>
                            <a href="#position-10" data-toggle="tab">
                                <em></em>运营专员
                            </a>
                        </li>-->
                        <!--<li>
                            <a href="#position-11" data-toggle="tab">
                                <em></em>招聘专员
                            </a>
                        </li>-->
                        <li>
                            <a href="#position-12" data-toggle="tab">
                                <em></em>文案策划
                            </a>
                        </li>
                        <li>
                            <a href="#position-13" data-toggle="tab">
                                <em></em>软件测试工程师
                            </a>
                        </li>
                    </ul>

                    <div class="job-contact">
                        <h5>联系电话:</h5>
                        <p>020-62934642</p>
                        <div class="job-hr"></div>
                        <h5>简历投递邮箱:</h5>
                        <p><a href="mailto:frontpay_hr@frontpay.cn">frontpay_hr@frontpay.cn</a></p>
                    </div>
                </nav>
                <section class="job-main">
                    <div class="position-item active" id="position-1">
                        <h3>风控经理</h3>
                        <p>
                            岗位职责：</p>
                            <ol>
                                <li>根据现行法律法规，结合公司要求及项目特点，参与项目谈判及项目结构设计，为项目提供法律支持；</li>
                                <li>负责制定、完善风险控制管理政策、制度及工具，推动风险管理体系的持续完善；</li>
                                <li>负责牵头制定面向有融资需求及其他流动资金需求的企业的尽职调查方案并组织实施尽调，审核尽调资料的完整性及合法性；</li>
                                <li>参与现场尽职调查，甄别风险点，提交项目风险评估报告，评估项目风险，提出风险控制手段；</li>
                                <li>负责根据尽调结果及其他信息制定融资项目风险控制方案；</li>
                                <li>根据项目要求，修改并审查合同，使其符合项目的操作，同时确保业务的合规性；</li>
                                <li>负责完成对客户的尽职调查及其他风控工作。</li>
                            </ol>
                        <p>
                        任职资格：
                        </p>
                        <ol>
                            <li>大专及以上学历，金融、财务、审计、税务、法律、风险管理等专业；</li>
                            <li>五年以上金融行业从业经验，三年以上保理、融资租赁、信托等类金融行业的风控、法务工作经验，具备良好的信用风险管理能力，较强的财务分析能力及信息收集分析能力；</li>
                            <li>熟悉行业监管政策、法律法规，了解金融业务、金融机构规章制度和操作流程；</li>
                            <li>具有较强的原则性和执行能力；</li>
                            <li>良好的抗压的能力，责任心强，工作积极主动；</li>
                            <li>思维严谨、逻辑性强、具有良好的文字表达能力及沟通协调能力；</li>
                            <li>有组建风控团队的经验。</li>
                        </ol>
                        

                    </div>
                    <div class="position-item" id="position-2">
                        <h3>财务经理</h3>
                        <p>岗位职责：</p>
                        <ol>
                            <li>负责公司收入，成本核算，复核账务，确保按时、合规、准确出具公司财务报表；</li>
                            <li>编写预算报告和决算报告；</li>
                            <li>负责税收筹划及与税务部门的沟通联系工作；</li>
                            <li>负责外部审计的对接统筹；</li>
                            <li>负责企业融资和资金运作方案的具体实施和操作；</li>
                            <li>完成上级交给的其他日常事务。</li>

                        </ol>
                        任职要求：</p>
                        <ol>
                            <li>财会、金融、经济、管理等相关专业本科或以上学历，中级会计职称；</li>
                            <li>五年以上财务管理工作经验，其中具有IT行业资本运作管理经验者优先；</li>
                            <li>熟悉国家金融政策、企业财务制度及流程、会计电算化，精通相关财税法律法规；</li>
                            <li>较强的成本管理、风险控制和财务分析的能力；</li>
                            <li>日常办公、财务管理软件操作熟练；</li>
                            <li>良好的组织、协调、沟通能力，和团队协作精神，能承受较大工作压力；</li>
                            <li>有互联网行业优先考虑。</li>
                        </ol>
                    </div>
                    <div class="position-item" id="position-3">
                        <h3>产品经理</h3>
                        <p>岗位职责：</p>
                        <ol>
                            <li>熟悉贷款产品特性及对行业主要产品有一定了解，熟悉监管要求、行业惯例、风险管理概念及市场知识与动向；</li>
                            <li>根据项目方及公司资源，规划及设计融资贷款系统，并持续优化形成可服用的标准化产品模块；</li>
                            <li>与运营、风控、清结算、财务等部门紧急合作，不断地优化融资产品业务及融资风控模型；</li>
                            <li>组织产品团队成员，按计划、时间节点推动产品从设计、前端、开发到测试完成，并最终上线的整个实施过程；</li>
                            <li>跟踪产品的体验效果数据，持续改善用户体验。</li>
                        </ol>
                        <p>
                        任职要求：</p>
                        <ol>
                            <li>专科以上学历，2年以上产品规划、设计及管理经验, 思维活跃，逻辑严谨，喜欢钻研；</li>
                            <li>有1年以上的金融企业工作经验，负责过信贷产品设计、p2p平台核心业务设计或消费金融/供应链金融产品设计、银行贷款业务等，熟悉相关法律法规、风控管理流程；</li>
                            <li>具有多种业务系统的产品设计经验，如cms/erp/crm/edm，同时具有To B，To C产品经验更佳；</li>
                            <li> 对用户体验设计及网站前端表现层结构、交互设计有丰富的经验；具有移动App产品经验更佳；</li>
                            <li>能够熟练使用Axure、Visio等各种常用产品设计工具，具有优秀的文档书写能力；</li>
                            <li>善于理解和分析用户本质需求，能提供各种实现方式及资源搭配完成设定的目标；</li>
                            <li>具有优秀的沟通、组织、协调能力；具有较强的团队领导能力和协作精神，爱岗敬业，责任心强；</li>
                            <li>有支付产品经验、金融行业背景优先考虑。</li>
                        </ol>
                        <p>
                        备注：面试请带上成功案例，可以是上线产品，可以是原型及BRD、PRD文档。</p>
                    </div>
                    <!--<div class="position-item" id="position-5">
                        <h3>高级研发工程师</h3>
                        <p>岗位职责：</p>
                        <ol>
                            <li>参与项目或产品的需求分析、模拟、评估系统架构、功能和性能；</li>
                            <li>组织开发团队与产品经理及客户沟通，把握客户的真实需求，进行系统需求分析和项目可行性评估，定义产品或系统功能，组织原型开发；</li>
                            <li>主持系统或子系统的总体规划工作，负责系统的整体技术架构，对系统的重用、扩展、安全、性能、伸缩性、简洁等做系统级的把握，并确保这些目标在执行过程中得到良好的保障；</li>
                            <li>组织开发团队进行概要及详细设计相关文档的编制/优化/提交；</li>
                            <li>负责软件开发小组的工作任务分配与开发进度计划、执行监控并参与开发成员的工作业绩评价；</li>
                            <li>负责系统的核心模块编码，并组织其他相关模块的编码、自测、交叉测试、系统联调及相关技术文档的完善。</li>
                        </ol>
                        <p>
                        任职要求：</p>
                        <ol>
                            <li>本科以上学历，计算机、软件工程及相关专业，具有5年以上软件开发工作经验，精通.Net/C#开发；</li>
                            <li>熟悉.Net平台上的开发技术，深刻理解面向对象的编程思想；</li>
                            <li>熟悉MSSQLServer数据库，掌握数据库基本原理，熟悉存储过程、触发器等技术；</li>
                            <li>熟悉SQL优化，有大型数据库编程经验，有大数据优化经验，熟悉EF，nHibernate等框架；</li>
                            <li>熟悉SOA/WebService/WCF，熟悉Javascript/jQuery/HTML/CSS/XML/Ajax，了解SOAP/REST等常用协议；</li>
                            <li>熟悉三层架构、MVC、DDD等常用系统框架，了解敏捷、TDD等开发模式，熟悉B/S结构系统开发；</li>
                            <li>熟悉常用的设计模式，并能熟练在实际开发中选用合适的设计模式；</li>
                            <li>具备优秀的团队协作能力和沟通能力；</li>
                            <li>有良好的技术素养和沟通能力，较强的文档编写能力；</li>
                            <li>有大中型互联网项目、供应链系统开发经验者优先。</li>
                        </ol>
                    </div>-->
                    <div class="position-item" id="position-6">
                        <h3>中级C#开发工程师</h3>
                        <p>岗位职责：</p>
                        <ol>
                            <li>参与大型企业信息化相关项目/产品的设计和开发工作；</li>
                            <li>协助完成需求采集、需求分析以及相关设计工作；</li>
                            <li>协助完成项目中各类文档的撰写工作；</li>
                            <li>配合项目经理完成项目需求采集、系统设计工作、架构设计；</li>
                            <li>配合项目经理制定项目开发规范，承担核心开发任务；</li>
                            <li>配合测试人员和项目经理保证项目品质等相关工作。</li>
                        </ol>
                        <p>
                            任职要求：</p>
                        <ol>
                            <li>大专及以上学历，计算机、软件工程及相关专业，具有3年以上软件开发工作经验；</li>
                            <li>掌握.net 框架3.5/4.0及C#语言，精通ASP.NET，能熟悉运用VS工具进行互联网产品或软件项目开发；</li>
                            <li>精通javascript、Ajax，熟悉JQuery框架，有浏览器兼容性经验，熟悉MVC；</li>
                            <li>熟悉微软SQL Server 2005/2008 或其他数据库，懂数据库优化；</li>
                            <li>熟悉软件开发过程，有较强的分析能力、良好的沟通能力、有较强的自学能力，具备团队精神；</li>
                            <li>有互联网金融产品开发经验者优先。</li>
                        </ol>
                    </div>
                    <div class="position-item" id="position-4">
                        <h3>Java工程师</h3>
                        <p>岗位职责：</p>
                        <ol>
                            <li>负责系统相关模块的设计、编码、测试和优化；</li>
                            <li>负责相关文档的编写与维护；</li>
                            <li>对产品功能体验提出改进建议，对技术实现进行持续优化改进。</li>
                        </ol>
                        <p>
                            任职要求：</p>
                        <ol>
                            <li>计算机软件及相关专业，大专以上学历；</li>
                            <li>2年以上J2ee项目经验，具有金融、银行项目经验者优先；</li>
                            <li>熟悉Struts2、Spring、Hibernate、myBatis等开源技术框架，熟悉http、webservice服务接口编程，能熟练使用Eclipse等常用开发工具；</li>
                            <li>熟练掌握html、css、javascript、ajax、jquery等web前端技术；</li>
                            <li>熟悉使用Oracle、MySQL、SQL Server等常用数据库；</li>
                            <li>熟悉apache、tomcat等服务器的安装配置；</li>
                            <li>熟悉单元测试，会使用JUnit执行单元测试；</li>
                            <li>良好的沟通能力，责任心强，具备良好的团队合作精神和抗压能力。</li>
                        </ol>
                    </div>
                    <div class="position-item" id="position-7">
                        <h3>前端工程师</h3>
                        <p>岗位职责：</p>
                        <ol>
                            <li>负责PC及移动端产品的前端开发，与后台工程师协作完成数据交互，动态信息展现；</li>
                            <li>配合设计师，实现页面交互效果开发；</li>
                            <li>不断检验并优化网站前端页面性能，提高页面访问效率；</li>
                            <li>研究和探索创新的开发思路和最新的前端技术。</li>
                        </ol>
                        <p>
                            任职要求：</p>
                        <ol>
                            <li>计算机、信息技术相关专业，专科以上学历，三年以上前端开发工作经验；</li>
                            <li>熟悉Web前端技术，包括HTML5、CSS3、JS、JQuery等，能够解决各种浏览器兼容性问题（ie8以上）；</li>
                            <li>注重代码规范，语义化编码，结构清晰，效能高；熟悉SEO结构规范；</li>
                            <li>熟悉移动端页面开发，交互效果实现；熟悉手机端各种浏览器特性及开发规范；</li>
                            <li>至少了解一种（Node.js/Python/.Net/Php/Java等）后端编程语言；</li>
                            <li>重视团队协作，愿意探寻和改进目前还不成熟的前端开发流程，了解各种常用工具如：gulp/grunt； git 等；</li>
                            <li>热爱前端技术，个性乐观开朗，逻辑性强，善于和各种背景的人沟通合作；加分项:会用google; 有 github 账号，向开源社区贡献过代码； 有个人技术blog；能在 linux / mac 下工作；</li>
                            <li>熟悉移动端页面开发，交互效果实现；熟悉手机端各种浏览器特性及开发规范；</li>
                            <li>熟悉响应式布局，会使用 bootstrap/Pure/foundation 等至少一种。</li>

                        </ol>
                    </div>
                    <!--<div class="position-item" id="position-8">
                        <h3>网络工程师</h3>
                        <p>岗位职责：</p>
                        <ol>
                            <li>维护公司IT机房网络，保证网络系统正常运行，负责对网络故障进行分析和定位，及时处理和解决出现的问题；</li>
                            <li>负责公司数据机房网络的安全监控和日常维护；</li>
                            <li>负责网络系统日常运行报告的编写和汇报工作；</li>
                            <li>参与网络系统新建、扩容及改造规划与实施工作；</li>
                            <li>解决公司相关网络的问题，提供支持服务和沟通能力。</li>
                        </ol>
                        <p>
                        任职要求：</p>
                        <ol>
                            <li>计算机或相关类专业大专以上学历，两年以上相关工作经验；</li>
                            <li>熟悉相关网络安全产品，如防火墙、IDS、防病毒，漏洞评估工具等；</li>
                            <li>了解多种安全技术，掌握或熟悉各种攻击与防护技术；</li>
                            <li>通过培训，能够独立完成相关产品及安全服务的实施工作；</li>
                            <li>有计算机网络维护经验，熟悉路由器、交换机、局域网/广域网通信链路；</li>
                            <li>熟悉Windows、Unix、Linux平台下的各种应用系统的使用、管理和维护工作（MYSQL、Oracle、Exchange等）；</li>
                            <li>对服务器、CISCO交换机、路由器、防火墙能够熟练操作及维护，有CCNP及MCSE证书优先；</li>
                            <li>了解综合布线相关标准和主流产品；</li>
                            <li>良好的服务意识、团队工作精神和沟通能力。</li>
                        </ol>
                    </div>-->
                    <div class="position-item" id="position-9">
                        <h3>策划推广专员</h3>
                        <p>岗位职责：</p>
                        <ol>
                            <li>根据公司发展战略和产品定位，制定精准有效的网络推广计划并执行；</li>
                            <li>负责策划和撰写公司产品宣传文案、营销推广资料和其他对外宣传文案，善于挖掘产品的亮点和卖点，以富有吸引力的描述书面展现；</li>
                            <li>负责公司网络运营推广，能独立主导操作运营推广的能力，并可以做相关的运营推广规划；</li>
                            <li>与网络媒体、合作渠道建立并保持良好的合作关系。</li>

                        </ol>
                        <p>
                        任职要求：</p>
                        <ol>
                            <li>专科以上学历，两年以上策划推广工作经验，熟悉互联网营销模式；</li>
                            <li>熟悉P2P、互联网金融领域的营运和推广模式；</li>
                            <li>能够准确捕捉产品亮点，思维敏捷，洞察力强，文字功底扎实，语言表达能力强；</li>
                            <li>具有较强的组织和协调能力，有丰富的市场和媒介资源，具备全案执行和管控的能力。</li>
                        </ol>
                        <p>备注：面试请带上自己较为满意的文案作品。</p>
                    </div>
                    <!--<div class="position-item" id="position-10">
                        <h3>运营专员</h3>
                        <p>岗位职责：</p>
                        <ol>
                            <li>负责第三方支付及融资产品的推广及运营管理工作；</li>
                            <li>负责产品或项目进度管理，保障项目进度；</li>
                            <li>负责实时监测产品运营数据，分析运营情况，并跟进处理各类相关问题；</li>
                            <li>与财务部、清结算部门对接，完成产品的清结算工作；</li>
                            <li>策划、执行、分析支付运营相关的市场活动；</li>
                            <li>跨部门的沟通协调，配合主管及其他部门完成公司整体运营指标。</li>
                        </ol>
                        <p>
                        任职要求：</p>
                        <ol>
                            <li>专科以上学历，二年以上互联网行业运营工作经验；</li>
                            <li>具备支付安全和风控意识，有数据分析能力；</li>
                            <li>具备较好的文案能力，有撰写活动策划、分析报告的经验优先；</li>
                            <li>有良好的沟通能力和较强的主动学习能力，具有优秀的团队合作精神。</li>
                        </ol>
                    </div>-->
                    <!--<div class="position-item" id="position-11">
                        <h3>招聘专员</h3>
                        <p>岗位职责：</p>
                        <ol>
                            <li>根据公司的人力资源规划及各部门用人需求制订招聘计划，开展招聘工作；</li>
                            <li>开拓、维护并逐步优化各有效招聘渠道，充分利用各招聘渠道为公司获取所需人才；</li>
                            <li>负责各招聘岗位的简历筛选、面试通知、面试接待、面试评估、录用审批等各环节；</li>
                            <li>定期对招聘效果进行分析评估，提高招聘效率；</li>
                            <li>其他招聘相关工作。</li>
                        </ol>
                        <p>
                        任职要求：</p>
                        <ol>
                            <li>大专以上学历，人力资源管理、心理学等相关专业；</li>
                            <li>至少2年以上互联网人事相关工作经验，1年以上互联网行业专职招聘经验；</li>
                            <li>熟悉企业招聘管理体系，熟悉广州、深圳地区各类网络和现场招聘渠道，能够独立开展招聘工作；</li>
                            <li>具备一定的人才甄选识别技巧并掌握主流的面试测评工具，须有互联网IT技术人才招聘经验；</li>
                            <li>高度的工作责任感和问题解决能力，沟通协调能力强；</li>
                            <li>自我管理能力强，能有计划性的安排日常工作，能承受工作压力；</li>
                            <li>具有良好的职业道德和团队合作意识，职场心态端正成熟。</li>
                        </ol>
                    </div>-->
                    <div class="position-item" id="position-12">
                        <h3>文案策划</h3>
                        <p>岗位职责：</p>
                        <ol>
                            <li>根据公司发展战略和产品定位，制定精准有效的网络推广计划并执行；</li>
                            <li>负责策划和撰写公司产品宣传文案、营销推广资料和其他对外宣传文案，善于挖掘产品的亮点和卖点，以富有吸引力的描述书面展现；</li>
                            <li>负责公司网络运营推广，能独立主导操作运营推广的能力，并可以做相关的运营推广规划；</li>
                            <li>与网络媒体、合作渠道建立并保持良好的合作关系；</li>

                        </ol>
                        <p>
                            任职要求：</p>
                        <ol>
                            <li>专科以上学历，两年以上策划推广工作经验，熟悉互联网营销模式；</li>
                            <li>熟悉P2P、互联网金融领域的营运和推广模式者优先；</li>
                            <li>能够准确捕捉产品亮点，思维敏捷，洞察力强，文字功底扎实，语言表达能力强；</li>
                            <li>具有较强的组织和协调能力，有丰富的市场和媒介资源，具备全案执行和管控的能力；</li>
                        </ol>
                    </div>
                    <div class="position-item" id="position-13">
                        <h3>软件测试工程师</h3>
                        <p>岗位职责：</p>
                        <ol>
                            <li>搭建并维护系统的测试环境；</li>
                            <li>执行和编写测试用例，独立完成测试报告并跟进完成测试进度；</li>
                            <li>对产品进行性能测试、安全测试和压力测试；</li>

                        </ol>
                        <p>
                            任职要求：</p>
                        <ol>
                            <li>二年以上软件测试相关经验；</li>
                            <li>熟悉软件测试概念，流程，需具备一定的性能测试测试经验；</li>
                            <li>有良好的需求文档分析能力，具备编写测试计划与方案、测试用例、测试报告等相关文档能力；</li>
                            <li>能独立完成软件的功能及性能测试，具备银行网页类测试者优先考虑；</li>
                            <li>具备使用LoadRunner（有实际项目经验）等性能测试工具，能够搭建环境并维护；</li>
                            <li>熟悉linux和windows系列操作系统平台的使用；</li>
                            <li>熟悉Oracle、Sqlserver数据库的使用；</li>
                            <li>较好的沟通能力，及团队合作精神，工作主动，认真负责；</li>
                        </ol>
                    </div>
                </section>
            </div>
        </div>
    </div>

{% include "_components/footer.html" %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
	<script>
    </script>
{% endblock %}