{% extends "_layout/layout.html" %}


{# 填写页面 title #}
{% block title %}关于钱途{% endblock %}
{% block keywords %}钱途互联，钱沿支付，E+账户，信用惠，产业金融，资产增值，资产结算{% endblock %}
{% block description %}钱途互联是国内首家专注于通过互联模式，基于企业交易过程的电子登记系统（品牌名称“E+账户”），对接优质的金融资源，为中小企业提供增值、新型供应链融资及创新支付结算的产业金融服务商。{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
	<style>
	</style>
{% endblock %}


{# 引用页面 body 类 #}
{% block bodyClass %}
class="page"
{% endblock %}

{% import "_components/about-us-nav.html" as pageNav %}

{# 加载页面内容 #}
{% block content %}
    <div class="page-wrap">
        <div class="page-banner banner-partner">
            <div class="banner-partner">
                <h2 class="display-none">Partner</h2>
            </div>
        </div>

        {{ pageNav.partner(1) }}

        <div class="page-main container">
            <article class="page-article clearfix">
                <section class="page-article-bd">
                    <h3 class="partner-hd">合作商户</h3>
                    <ul class="partner">
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/wankewuye.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/picc.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/yunshengkeji.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/jiuzhoutong.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/sdhs.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/zhonghaidichan.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/anbang.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/putianyaoxie.jpg" alt="">
                            </a>
                        </li>
                    </ul>

                    <h3 class="partner-hd">合作渠道</h3>
                    <ul class="partner">
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/qulv.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{static}}/images/partners/zouxiu.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/mei.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/vianmall.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/luxji.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/quwan.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/wulv.jpg" alt="">
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/tianshihui.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/youguo.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/sifangjie.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/haitaotiantang.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/hejinchang.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/zocai.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/incake.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/nnk.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/koudianying.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/youzishe.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/1905.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="{{static}}/images/partners/shuangtao.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                
                </section>
            </article>
        </div>
    </div>

{% include "_components/footer.html" %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
	<script>
    </script>
{% endblock %}