{% macro footer(static='/static') %}
<footer class="footer">
    <div class="footer-main">
        <ul class="footer-nav-one">
            <li>
                <h4>
                    关于钱途
                </h4>
                <a href="关于钱途.html">
                    钱途简介
                </a>
                <a href="企业动态.html">
                    企业动态
                </a>
                <a href="联系我们.html">
                    联系我们
                </a>
            </li>
            <li>
                <h4>
                    产品介绍
                </h4>
                <a href="02供应链融资.html">
                    供应链融资
                </a>
                <a href="03债权支付1.html">
                    债权支付
                </a>
                <a href="solution.html">
                    行业方案
                </a>
            </li>
            <li>
                <h4>
                    平台信息
                </h4>
                <a href="媒体报道.html">
                    媒体报道
                </a>
                <a href="javascript:;" class="j-feedback" data-target="#J_popup_fb">
                    意见反馈
                </a>
                <a href="合作商户.html">
                    合作商户
                </a>
            </li>
            <li>
                <div class="phone-box">
                    <p>客服热线：9:00-18:00</p>
                    <h1>
                        400-106-6698
                    </h1>
                </div>
            </li>
            <li class="last">
                <div class="code-box">
                    <img src="/static/images/qrcodenew.jpg" alt=""/>
                </div>
                <p>
                    官方微信服务号
                </p>
            </li>
        </ul>
        <div class="footer-nav-two">
            <div class="footer-case-wrap">
                <ul>
                    <li>
                        <a href="加入我们.html">诚聘英才
                        </a>
                    </li>
                    <li>
                        <a href="关于钱途-合作伙伴.html">合作伙伴
                        </a>
                    </li>
                    <li>
                        <a href="法律声明.html">法律声明
                        </a>
                    </li>
                    <li>
                        <a href="隐私条款.html">隐私条款
                        </a>
                    </li>
                </ul>
                <p>
                    版权所有&copy;广东钱途互联商务服务有限公司&nbsp;&nbsp;&nbsp;&nbsp;粤ICP备&nbsp;14098252号-2
                </p>
                <a href="http://webscan.360.cn/index/checkwebsite/url/www.frontpay.cn">
                    <!--<img border="0" src="http://img.webscan.360.cn/status/pai/hash/2a1976734318f6fabb2f80a6011e79ae" />-->
                    <img src="{{ static }}/images/sub1.jpg?v=20150615"/>
                </a>
                <a href="javascript:void(0)" class="imglink">
                        <img src="{{ static }}/images/sub2.jpg?v=20150615"/>
                    </a>
                <a href="http://www.gdca.gov.cn/index.asp">
                    <img src="{{ static }}/images/sub3.jpg?v=20150615" />
                </a>
            </div>
        </div>
    </div>
</footer>
{% endmacro %}